{% extends "base.html" %}

{% block title %}J&M - 404 Error{% endblock %}

{% block content %}

<!-- Displaying a 404 Error Page Template. -->
<section class="login" id="login h1">
    <img src="/static/img/404_error.png" alt="404 Error" class="error-image" style="float:left; margin-right: 20px; margin-top: 101px; height: 150px;">
    <div class="login">
        <h1> Oops! </h1>
        <h2> We can't seem to find the page you're looking for. </h2>
        <p> Go back to choose a new direction.</p>
    </div>
</section>

{% endblock %}